<!-- <p>login component works!</p> -->
<div style="padding: 20px; margin: 20px">
    <mat-card>
        <div class="example-container">
            <!-- Reactive Forms -->
            <div class="container">
                <form [formGroup]="formFG" (ngSubmit)="login()">

                    <div class="row">
                        <mat-form-field appearance="outline">
                            <mat-label>Name</mat-label>
                            <input matInput type="text" formControlName="name"
                                placeholder="Bruce Wayne">
                        </mat-form-field>
                    </div>

                    <div class="row">
                        <mat-form-field appearance="outline">
                            <mat-label>Email</mat-label>
                            <input matInput type="email" formControlName="email"
                                placeholder="abc@gmail.com">
                        </mat-form-field>
                    </div>

                    <div class="row">
                        <mat-form-field appearance="outline">
                            <mat-label>Password</mat-label>
                            <input matInput type="password" formControlName="password"
                                placeholder="anything">
                        </mat-form-field>
                    </div>
                    <div>
                        <button mat-flat-button color="primary" type="submit">Register</button>
                        Or
                        <a [routerLink]="'/login'">Login</a>
                    </div>
                </form>
            </div>
        </div>
    </mat-card>
</div>